.poland-map {
    display: block;
    width: 907px;
    height: 622px;
    margin: auto;
    position: relative;
    background: url("../image/poland-map.png") no-repeat center top;
}

.poland-map .static-map {
    display: none;
}

.poland-map ul {
    list-style: none; }
.poland-map ul li {
    width: 100px;
    text-align: right;
    padding-right: 4px;
    position: absolute;
    z-index: 10000; }
.poland-map ul li span {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: left; }
.poland-map ul li:after {
    content: '';
    position: absolute;
    bottom: -6px;
    right: -4px;
    width: 7px;
    height: 7px;
    background: #b01116;
    border-radius: 100%;
}
.poland-map ul li.warsaw {
    top: 250px;
    left: 492px;
}
.poland-map ul li.krakow {
    top: 480px;
    left: 392px;
}
.poland-map ul li.lodz {
    top: 328px;
    left: 380px;
}
.poland-map ul li.wroclaw {
    top: 382px;
    left: 210px;
}
.poland-map ul li.poznan {
    top: 270px;
    left: 210px;
}
.poland-map ul li.gdansk {
    top: 68px;
    left: 318px;
}
.poland-map ul li.szczecin {
    top: 168px;
    left: 78px;
}

@media (max-width: 959px) {

    .poland-map ul li.warsaw {
        left: 404px;
    }
    .poland-map ul li.krakow {
        left: 301px;;
    }
    .poland-map ul li.lodz {
        left: 288px;
    }
    .poland-map ul li.wroclaw {
        left: 112px;
    }
    .poland-map ul li.poznan {
        left: 115px;
    }
    .poland-map ul li.gdansk {
        left: 230px;
    }
    .poland-map ul li.szczecin {
        left: -14px;
    }

}

@media (max-width: 760px) {

    #map li {
        position: static;
        text-shadow: none;
    }

    .poland-map {
        background: transparent;
        width: auto;
        height: auto;
    }

    .poland-map .static-map {
        display: block;
        margin: 0 auto 30px;
    }

    .poland-map .static-map img {
        max-width: 100%;
        height: auto;
        background: transparent;
    }

    .poland-map ul li {
        width: auto;
        position: static;
        top: auto !important;
        left: auto !important;
        margin-bottom: 7px;
        text-align: center;
    }

    .poland-map ul li:after {
        display: none;
    }

}
